body, html {
  width: 99%;
  height: 99%;
}

p {
  color: red;
}

mediaButtons {
  width: 99%;
  height: 99%;
}

.half_whole_button {
  width : 40%;
  height: 90%;
  margin: 4%;
  display: inline-block;
}
.whole_half_button {
  width : 90%;
  height: 40%;
  margin: 4%;
  display: inline-block;
}
.half_half_button {
  width : 40%;
  height: 40%;
  margin: 4%;
  display: inline-block;
}
.half_third_button {
  width : 27%;
  height: 40%;
  margin: 3%;
  display: inline-block;
}
.half_quarter_button {
  width : 45%;
  height: 12%;
  margin: 2%;
  display: inline-block;
}

.media{
  height: 65%;
  margin: 2%;
  display: absolute;
}
