body, html {
  height: 99%;
  width: 99%;
}

mediaButtons {
  height: 40%;
  width: 99%;
}

audio, video, img{
  height: 59%;
  width: 99%;
  object-fit: contain;
}

buttonHolder {
  height: 70%;
  width: 99%;
}

.half_whole_button {
  width : 40%;
  height: 90%;
  margin: 4%;
  display: inline-block;
}
.whole_half_button {
  width : 90%;
  height: 40%;
  margin: 4%;
  display: inline-block;
}
.half_half_button {
  width : 40%;
  height: 40%;
  margin: 4%;
  display: inline-block;
}
.half_third_button {
  width : 26%;
  height: 40%;
  margin: 3%;
  display: inline-block;
}
.half_quarter_button {
  width : 45%;
  height: 20%;
  margin: 2%;
  display: inline-block;
}
.third_quarter_button {
  width : 27%;
  height: 20%;
  margin: 2%;
  display: inline-block;
}
.half_threeEight_button {
  width : 45%;
  height: 30%;
  margin: 2%;
  display: inline-block;
}
