<buttonHolder id="buttonHolder">

</buttonHolder>
<br/>
<button type="button" id="back_button" class="half_quarter_button" onclick="leaveCate('/filter')">Back</button>
<button type="button" id="next_button" class="half_quarter_button" onclick="leaveCate('/category')">Refresh</button>
