<description>
  <h1>Category filters</h1>  
</description>
<buttonHolders>
<categoryHolder id="categoryHolder">

</categoryHolder>
<br/>
<button type="button" id="next_button" class="third_quarter_button" onclick="redirect('/')">Home</button>
<button type="button" id="next_button" class="third_quarter_button" onclick="leaveCate('/category')">More filters</button>
<button type="button" id="back_button" class="third_quarter_button" onclick="leaveCate('/mediaChoice')">Start</button>
</buttonHolders>
