<buttonHolder id="buttonHolder">

</buttonHolder>
<br/>
<button type="button" id="next_button" class="third_quarter_button" onclick="redirect('/')">Home</button>
<button type="button" id="next_button" class="third_quarter_button" onclick="leaveCate('/category')">Refresh</button>
<button type="button" id="back_button" class="third_quarter_button" onclick="leaveCate('/mediaChoice')">Start</button>
