<description>
  <h1>Filter menu</h1>
</description>
<buttonHolders>
<button type="button" id="category_filter_button" class="half_third_button" onclick= "redirect('/category')">Categories</button>
<button type="button" id="date_filter_button" class="half_third_button" onclick= "redirect('/time')">Date</button>
<button type="button" id="local_filter_button" class="half_third_button" onclick= "redirect('/geo')">Location</button>
<br/>
<button type="button" id="back_button" class="half_half_button" onclick= "redirect('/')">Back and Delete filters</button>
<button type="button" id="filter_button" class="half_half_button" onclick= "redirect('/mediaChoice')">Start media</button>
</buttonHolders>
