<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/sliderCSS">
    <script src="sliderJS"></script>
    <link rel="stylesheet" type="text/css" href="/styleSheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>RemAid</title>
  </head>

    {{{ body }}}

  <script src="/client"></script>
</html>
