<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" src="/sliderCSS">
    <script src="sliderJS"></script>
    <link rel="stylesheet" type="text/css" src="/styleSheet">
    <title>RemAid</title>
  </head>

    {{{ body }}}

  <script src="/client"></script>
</html>
