<description>
  <h1>Rem Aid</h1>
</description>
<buttonHolders>
<button type="button" id="start_button" class="half_whole_button" onclick= "redirect('/mediaDisplay')"><h2>Start media</h2> <p> Begin reminiscening over a range of media</button>

<button type="button" id="filter_button" class="half_whole_button" onclick= "redirect('/category')"><h2>Set filters</h2> <p>Select what type of media you want to view</button>
</buttonHolders>
