
<button type="button" id="start_button" class="half_whole_button" onclick= "redirect('/mediaChoice')">Start media</button>

<button type="button" id="filter_button" class="half_whole_button" onclick= "redirect('/filter')">Set filters</button>
