
<button type="button" id="photo_filter_button" class="half_third_button" onclick= "addMediaFilter(this)"><h2>Photos: Selected</h2> <p> toggle to include or remove all photos</button>
<button type="button" id="video_filter_button" class="half_third_button" onclick= "addMediaFilter(this)"><h2>Videos: Selected</h2> <p> toggle to include or remove all videos</button>
<button type="button" id="audio_filter_button" class="half_third_button" onclick= "addMediaFilter(this)"><h2>Audio: Selected</h2> <p> toggle to include or remove all audio clips</button>
<br/>
<button type="button" id="back_button" class="half_quarter_button" onclick= "redirect('/category')">Back</button>
<button type="button" id="filter_button" class="half_quarter_button" onclick= "redirect('/mediaDisplay')">Start media</button>
