
<button type="button" id="photo_filter_button" class="half_third_button" onclick= "addMediaFilter('photo')">Photos: Selected</button>
<button type="button" id="video_filter_button" class="half_third_button" onclick= "addMediaFilter('video')">Videos: Selected</button>
<button type="button" id="audio_filter_button" class="half_third_button" onclick= "addMediaFilter('audio')">Audio: Selected</button>
<br/>
<button type="button" id="back_button" class="half_quarter_button" onclick= "redirect('/')">Back</button>
<button type="button" id="filter_button" class="half_quarter_button" onclick= "redirect('/mediaDisplay')">Start media</button>
