<description>
</description>
<buttonHolders>
<mediaHolder id="mediaHolder">
</mediaHolder>
<br/>
<mediaButtons>
  <button type="button" id="home_button" class="half_quarter_button" onclick= "redirect('/')">Home <br> <i class="fas fa-home"></i></button>
  <button type="button" id="next_button" class="half_quarter_button" onclick= "redirect('/mediaDisplay')">Next media</button>
</mediaButtons>
</buttonHolders>
