<mediaHolder id="mediaHolder">
</mediaHolder>
<br/>
<mediaButtons>
  <button type="button" id="next_button" class="half_quarter_button" onclick= "nextMedia()">Next media</button>

  <button type="button" id="quit_button" class="half_quarter_button" onclick= "redirect('/')">Quit</button>
</mediaButtons>
